:root{
	--leftPanelWidth: 200px;
	--dragBarWidth: 3px;
}
body{
	margin: 0px;
	padding: 0px;
	font-family: "Segoe UI", Oxygen, Roboto, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: white;
}
.panel{
	position: fixed;
	overflow-y: auto;
	height: 100%;
}
#dragBar{
	background-color: #555555;
	cursor: w-resize;
	width: var(--dragBarWidth);
	margin-left: var(--leftPanelWidth);
}



#settings{
	margin: 10px;
}



#channels{
	background-color: #111111;
	width: calc( var(--leftPanelWidth) );
}
.channel{
	padding: 0px 10px 0px 10px;
	cursor: pointer;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 13px;
}
.channel.noUnread{
	color: #777777;
}
.channel.noUnread .unread{
	display: none;
}
.channel .unread{
	float: right;
}
.channel>img{
	height: 14px;
	margin-right: 5px;
	vertical-align: middle;
}
.activeChannel{
	background-color: #444444;
}



#items{
	background-color: #000000;
	width: calc( 100% - var(--leftPanelWidth) - var(--dragBarWidth) );
	margin-left: calc( var(--leftPanelWidth) + var(--dragBarWidth ) );
}
.item{
	background-color: #222222;
	margin: 2px 10px 0px 10px;
	padding: 0px 5px 0px 5px;
	height: 35px;
	--buttonWidth: 50px;
}
.item>div:first-child{
	font-size: 16px;
	top: -1px;
}
.item>div:last-child{
	font-size: 11px;
	top: 18px;
}
.item a{
	max-width: calc( 100% - var(--buttonWidth) );
	text-decoration: none;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: bold;
}
.item a{
	color: #FFFFFF;
}
.item a.unread{
	color: #00AAAA;
}
.item>div{
	position: relative;
}
.item>div>*{
	position: absolute;
}
.itemMarkRead{
	right: 0px;
	cursor: pointer;
}
.itemDate{
	right: 0px;
	font-family: sans-serif;
}



#contextMenu{
	position: absolute;
	z-index: 10;
	background-color: #222222;
	border: solid #ffffff 1px;
}
#contextMenu>div{
	padding: 2px 8px 2px 8px;
	cursor: pointer;
}
#contextMenu>div:hover{
	background-color: #555555;
}

